sphinx==7
pydata-sphinx-theme
sphinx-autobuild
sphinx-basic-ng
sphinx_design
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
numpydoc

